body {
    margin:0 auto;
    font-family:'helvetica-neue', sans-serif;
    background-color:#fff;
    overflow-x:hidden;
    overflow-y:auto;
}

img{
    max-width:100%;
    height:auto;
}

a{
    color:#fff;
}

p{
    font-family: houschka-pro, sans-serif;
    font-size:1.5em;
    font-weight: 200;
    font-style: normal;
    text-align:left;
    padding:0 .5rem;
    margin:0 0 1em 0;
}

h1{
    font-family: houschka-pro, sans-serif;
    text-align:center;
    margin:0;
    padding:0;
}

#croutons{
    font-weight: 700;
    margin:.5em 0;
}

h2{
    font-family: houschka-pro, sans-serif;
    font-weight: 500;
    font-style:normal;
    text-align: center;
    padding:0;
}

h3{
    font-family: houschka-pro, sans-serif;
    font-weight: 500;
    font-style:normal;
    text-align: center;
    margin:0;
    padding:0;
}

h4{
    font-family: houschka-pro, sans-serif;
    font-weight: 500;
    font-style:normal;
    text-align: center;
    margin:0;
    padding:0;
}

marquee{
    animation-delay:-5s;
    margin:2em 0;
}

.marquee{
    margin:0 2em;
}

  @media screen and (min-width: 568px){
iframe {
      width:560px;
      height:315px;
  }
}
iframe{
    display:block;
    margin:1em auto;
}
/*----------Header & Nav----------*/
.header {
    background-color:#2C2C4E;
    box-shadow:1px 1px 4px 0 #aaa;
    position:fixed;
    width:100%;
    z-index:3;
    margin:0;
    padding:0;
}

.header ul{
    margin:1em;
    padding:0;
    list-style:none;
    overflow:hidden;
    background-color:#2C2C4E;
}

.header ul a{
    display:block;
    padding:20px;
    border-right:1px solid #aaa;
    text-decoration:none;
}

.header ul a:hover{
    color:#8fbc8f;
    font-size:1.2em;
}

.header .logo{
    float:left;
    position:relative;
    display:block;
    font-family: italianno;
    text-decoration:none;
    padding: 2vw 5vw;
    margin:.5em;
    padding:0;
}

/* If the screen size is 568px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 568px) {
 .header .logo {
      font-size:3vw;
    }
  }
  
  /* If the screen size is 568px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 568px) {
.header .logo{
      font-size: 6vw;
    }
  }

.header .menu{
    clear:both;
    max-height:0;
    transition:max-height .2s ease-out;
}

.header .menu-icon{
    padding:28px 20px;
    position: relative;
    float:right;
    cursor:pointer;
}

.header .menu-icon .nav-icon{
    background: #fff;
    display:block;
    height:2px;
    width:18px;
    position:relative;
    transition:background .2s ease-out;
}

.header .menu-icon .nav-icon:before{
    background:#fff;
    content:"";
    display:block;
    height:100%;
    width:100%;
    position:absolute;
    transition:all .2s ease-out;
    top:5px;
}

.header .menu-icon .nav-icon:after{
    background:#fff;
    content:"";
    display:block;
    height:100%;
    width:100%;
    position:absolute;
    transition:all .2s ease-out;
    top:-5px;
}

.header .menu-btn{
    display:none;
}
/*sibling selector*/
.header .menu-btn:checked ~ .menu{
    max-height:240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
    background:transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before{
    transform: rotate(-45deg);
    top:0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after{
    transform: rotate(45deg);
    top:0;
}

@media (min-width:568px){
    
    .header li{
        float:left;
    }
    
    .header li a{
        padding:20px 30px;
    }
    .header .menu{
        clear:none;
        float:right;
        max-height:none;
    }
    .header .menu-icon{
        display:none;
    }
}
/*----------Main Content----------*/
.wrapper{
    padding-top:50px;
    overflow-x:hidden;
    overflow-y:auto;
}

.crepes{
    max-width:100%;
}

.container{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
    align-content:center;
    overflow-x:hidden;
    overflow-y:auto;
    margin: 1em 0 0 0;
    padding: 1em 0 0 0;
}

.highlight{
    font-size:1.2em;
    font-weight:bold;
    width:60vw;
    display: block;
    float:left;
    border:.2em solid #2C2C4E;
    padding: .5em;
    margin-left: 1em;
}

.tagline{
    font-family: kewl-script, sans-serif;
}

.box{
    display:flex;
    flex-flow:column nowrap;
    justify-content:space-around;
    align-items: center;
    text-align:center;
    width: 160px;
    margin-bottom:4em;
    overflow:hidden;
}
.box img{
    display:block;
    transition:.4s;
}
.box:hover img{
    transform:scale(1.1);
    transform-origin:50% 50%;
}

.box-p{
    display:block;
    margin:0 auto;
    width:80vw;
    
}

.box-monthly{
    display:flex;
    flex-flow:column nowrap;
    justify-content: space-between;
    padding:1em;
    margin:0 auto 2em 0;
    overflow:hidden;
    width:75vw;
}

.box-adventure{
    background-color:#2C2C4E;
    width:100vw;
    padding:1rem;
}

.adventure{
    color:#2C2C4E;
    background-color:#fff;
    padding:.5em 1em;
    margin-right:10vw;
    width:80vw;
}

.adventure-text{
    color:#fff;
    margin:1em 0;
    font-family:houschka-pro, sans-serif;
    font-weight:normal;
}

.box-interactive{
    display:block;
    flex-flow:column nowrap;
    justify-content:space-around;
    padding:1em;
    margin:1em auto 1em 0;
    overflow:hidden;
    width:75vw;
}

.interactive{
    font-family:houschka-pro, sans-serif;
    font-weight:normal;
    font-size:6vw;
    text-align:left;
    margin:0 0 -1em 0;
}

.interactive-text{
    font-family:houschka-pro, sans-serif;
    font-weight:100;
    font-size:10vw;
    text-align:left;
    margin:.5em 0 0 0;
}

.box-coming{
    display:block;
    border:2px solid #DC6D35;
    margin:0 1em;
    overflow:hidden;
}

.box-coming img{
    display:block;
    transition:.4s;
    margin:.5em auto;
}

.box-coming img:hover{
    transform:scale(1.1);
    transform-origin:50% 50%;
}

.box-coming ul{
    margin:1em 0;
}

.box-coming ul li{
    list-style-type:none;
    margin:.5em 0;
    padding:.5em;
}

.box-coming ul li a{
    text-decoration: none;
    font-family: houschka-pro, helvetica, sans-serif;
    font-size:1.5em;
    color:#2C2C4E;
}
.box-coming ul li a:hover{
    text-decoration: underline;
    transition: .2s;
    color:#8fbc8f;
}

.art{
    font-family: kewl-script, sans-serif;
    font-weight:normal;
    font-size:3em;
    text-align:center;
    margin:1em auto .5em auto;
}

.skill{
    display:block;
    font-family: houschka-pro, sans-serif;
    font-size:10vw;
    font-weight: 200;
    font-style: normal;
}

.button{
    display:block;
    width: 7rem;
    text-align:center;
    padding: 1rem 1rem;
    margin:0 auto;
    color:#fff;
    background-color:#2C2C4E;
    cursor:pointer;
    text-decoration: none;
}

.button:hover{
    width:8rem;
    color:#DC6D35;
    border-radius: 6px;
}

.recipe-card{
    padding:1em;
    max-width:520px;
    background-color:antiquewhite;
    border-top:1px solid #DC6D35;
    margin: 1em 0;
    overflow:hidden;
}

#kids{
    border:1px solid #fff;
}

#new-classes{
    margin:.5em 0;
}

#box1{
    display:flex;
    flex-flow:column nowrap;
    justify-content: space-around;
    width:350px;
    overflow:hidden;
    font-size:1em;
    background-color:wheat;
    padding:1em 0;
    margin:1em;
}

#box1 img{
    margin:1em auto 1em auto;
}
#box1 p{
    font-size:1em;
}

#box2{
    display:flex;
    flex-flow:column nowrap;
    justify-content: space-around;
    width:350px;
    overflow:hidden;
    font-size:1em;
    background-color:wheat;
    padding:1em 0;
    margin:1em;
}

#box2 img{
    margin:1em auto 1em auto;
}
#box2 p{
    font-size:1em;
}

#box3{
    display:flex;
    flex-flow:column nowrap;
    justify-content: space-around;
    width:350px;
    overflow:hidden;
    font-size:1em;
    background-color:wheat;
    padding:1em 0;
    margin:1em;
}

#box3 img{
    margin:1em auto 1em auto;
}
#box3 p{
    font-size:1em;
}

#box4{
    display:flex;
    flex-flow:column nowrap;
    justify-content: space-around;
    width:350px;
    overflow:hidden;
    font-size:1em;
    background-color:wheat;
    padding:1em 0;
    margin:1em;
}

#box4 img{
    margin:1em auto 1em auto;
}
#box4 p{
    font-size:1em;
}

#box5{
    display:flex;
    flex-flow:column nowrap;
    justify-content: space-around;
    width:350px;
    overflow:hidden;
    font-size:1em;
    background-color:wheat;
    padding:1em 0;
    margin:1em;
}

#box5 img{
    margin:1em auto 1em auto;
}
#box5 p{
    font-size:1em;
}

#box6{
    display:flex;
    flex-flow:column nowrap;
    justify-content: space-around;
    width:350px;
    overflow:hidden;
    font-size:1em;
    background-color:wheat;
    padding:1em 0;
    margin:1em;
}

#box6 img{
    margin:1em auto 1em auto;
}
#box6 p{
    font-size:1em;
}

#box7{
    display:flex;
    flex-flow:column nowrap;
    justify-content: space-around;
    width:350px;
    overflow:hidden;
    font-size:1em;
    background-color:wheat;
    padding:1em 0;
    margin:1em;
}

#box7 img{
    margin:1em auto 1em auto;
}
#box7 p{
    font-size:1em;
}

#box8{
    display:flex;
    flex-flow:column nowrap;
    justify-content: space-around;
    width:350px;
    overflow:hidden;
    font-size:1em;
    background-color:wheat;
    padding:1em 0;
    margin:1em;
}

#box8 img{
    margin:1em auto 1em auto;
}
#box8 p{
    font-size:1em;
}
#box-contact{
    width:350px;
}

/* The ingredient container */
.ingredient-checklist{
    background-color:cornsilk;
    padding:1em;
    margin:1em;
}
.ingredient-headline{
    margin:1em auto;
}

.ingredient-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .ingredient-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .ingredient-container:hover:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .ingredient-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .ingredient-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .ingredient-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
/*----------footer----------*/
footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin:3em 0 0 0;
}

.footer .box-hiring{
    display:flex;
    flex-flow:column nowrap;
    justify-content:space-around;
    background-color:#DC6D35;
    padding:1rem;
    width:80vw;
}

.footer .hiring{
    font-family:Helvetica, sans-serif;
    font-size:6vw;
    font-weight:100;
    color:#fff;
}

.footer .hiring-text{
    font-family:houschka-pro, sans-serif;
    font-size:2.8vw;
    font-weight:normal;
    color:#fff;
    margin:1em auto;
}
.footer h3{
    margin:1em auto 0 auto;
}
.footer h4{
    width:250px;
}

.footer .find-more{
    text-align:center;
    color:#DC6D35;
}

.footer ul{
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-evenly;
}

.social-buttons ul li{
    list-style-type:none;
}

.linkedin {
    margin: 1em;
}

.linkedin:hover, .linkedin:focus {
    opacity: 80%;
} 
.pinterest {
    margin: 1em;
}

.pinterest:hover, .pinterest:focus {
    opacity: 50%;
}

.youtube {
    margin: 1em;
}

.youtube:hover, .youtube:focus {
    opacity: 50%;
}

.behance {
    margin: 1em;
}

.behance:hover, .behance:focus {
    opacity: 50%;
}

.copyright {
    font-size: .75em;
    color: #003366;
    text-align:center;
}
